{% load static %}
{% if user.is_authenticated %}
	
	<nav class="navbar bg-body-tertiary fixed-top">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="{% url 'home' %}">Twistter</a>
		<div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Search For
            </a>
            <ul class="dropdown-menu">
              <li>
		          <a href="{% url 'search-user' %}">
			        <button class="btn btn-outline-success" type="button">Search Profiles</button>
		          </a>
	          </li>
              <li>
		          <a href="{% url 'search-twistt' %}">
			        <button class="btn btn-outline-success" type="button">Search</button>
		          </a>
              </li>
            </ul>
	    </div>
	    <a href="" class="profile_img_btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
	      {% if user.profile.profile_image %}
		    
		    <img class="profile_img_nav" src="{{ user.profile.profile_image.url }}">
		    
		  {% else %}
		    
		    <img src="{% static 'images/default_profile_pic.png' %}" class="profile_img_nav" alt="Profile picture">
		    
	      {% endif %}
	    </a>
	    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
	      <div class="offcanvas-header">
		    {% if user.profile.profile_image %}
		        <img class="profile_img_nav" src="{{ user.profile.profile_image.url }}">
		    {% else %}
		        <img src="{% static 'images/default_profile_pic.png' %}" class="profile_img_nav" alt="Profile picture">
		    {% endif %}
			    <h5 class="offcanvas-title profile_name" id="offcanvasNavbarLabel"> @{{ user }} </h5>
			    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	      </div>
	      <div class="offcanvas-body">
	        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
	          <li class="nav-item">
	            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link" href="{% url 'profile-list' %}">Profiles List</a>
	          </li>
		      {% if user.is_authenticated %}
			      <li class="nav-item">
		            <a class="nav-link" href="{% url 'profile' request.user.id%}">My profile</a>
		          </li>
		      {% endif %}
	          <li class="nav-item dropdown">
	            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	              Account
	            </a>
	            <ul class="dropdown-menu">
	              <li><a class="dropdown-item" href="{% url 'update-user' %}">Update My Profile</a></li>
	              <li><a class="dropdown-item" href="#">Another action</a></li>
	              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
	            </ul>
	          </li>
	        </ul>
		     
	      </div>
	    </div>
	  </div>
	</nav>

{% else %}

	
	<nav class="navbar bg-body-tertiary fixed-top">
	  <div class="container-fluid row">
	    <a class="navbar-brand col-9" href="{% url 'home' %}">Twistter</a>
		  <div class="col-2 container-fluid row">
			  <span class="col-6">New Here?</span>
			  <button class="navbar-toggler col-6" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
				  <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Sign Up</a>
			  </button>
		  </div>
	  </div>
	</nav>


{% endif %}